.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* мой код */
body {
  background-color: #000000;
}

.header {
  display: flex;
  width: 1872px;
  height: 88px;
  background-color: #f2f2f2;
  margin: 0 auto;
  /* border-radius: 1%; */
  margin-bottom: 10px;
}

.logo {
  width: 196px;
  height: 56px;
  border: 1px solid black;
}

.header-search {
  width: 1086px;
  height: 56px;
  border: 1px solid black;
}

.select-delivery-address {
  width: 358px;
  height: 56px;
  border: 1px solid black;
}

.button-1 {
  width: 56px;
  height: 56px;
  border: 1px solid black;
  border-radius: 50%;
}

.button-2 {
  width: 56px; 
  height: 56px;
  border: 1px solid black;
  border-radius: 50%;
}

.button-3 {
  width: 56px;
  height: 56px;
  border: 1px solid black;
  border-radius: 50%;
}

.block-central {
  width: 1872px;
  height: 3350px;
  background-color: #f2f2f2;
  margin: 0 auto;
  border-radius: 1%;
  margin-bottom: 10px;
}

.product-categories {
  width: 250px;
  height: 154px;
  border: 1px solid black;
  /* margin: 0 auto; */
}

.banner {
  width: 976px;
  height: 243px;
  border: 1px solid black;
  margin: 0 auto;
}

.search {
  width: 976px;
  height: 56px;
  border: 1px solid black;
  margin: 0 auto;
}

.choice-of-colors {
  display: flex;
  width: 976px;
  height: 40px;
  border: 1px solid black;
  margin: 0 auto;
}

.button-roses {
  width: 80px;
  height: 40px;
  border: 1px solid black;
}

.button-boxes {
  width: 108px;
  height: 40px;
  border: 1px solid black;
}

.button-bouquets {
  width: 96px;
  height: 40px;
  border: 1px solid black;
}

.additional-block {
  display: flex;
  width: 1872px;
  height: 346px;
  background-color: #f2f2f2;
  margin: 0 auto;
  border-radius: 1%;
  margin-bottom: 10px;
}

.left-block {
  width: 419px;
  height: 346px;
  border: 1px solid black;
}

.footer {
  width: 1872px;
  height: 1018px;
  /* background-color: #f2f2f2; */
  margin: 0 auto;
  border-radius: 1%;
}
